@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #3f4957;
   height: 1000px;
}

header{
    background-color: #011420;
    width: 100%;
    height: 70px;
}
header::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(to right,  #8C2656 0%, #F20544 92.32%);
    
}  
header > h1{
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 27px;
    padding: 19px;

}

div#home{
    position: relative;
    min-width: 295px;
    max-width: 90vw;
    min-height: 120px;
    max-height: 120vw;
    height: 600px;
    border-left: 4px solid #8C2656;
    border-right: 4px solid #F20544 ;
    border-radius: 50px 25px 100px 20px;
    margin: auto;
    opacity: 90;
    background: black url(imagens/nathan-anderson-8fcWFnO3ZyA-unsplash.jpg) no-repeat center bottom fixed;
    background-size: 100% 100%;
    box-shadow: inset 0px 6px 13px 0px rgba(0, 0, 0, 0.527);
    
    
   
}
picture#perfil> img {
    display: block;
    position: relative;
    min-width: 10%;
    max-width: 100%;
    width: 70px;
    margin: auto;
    top: 5%;
    border-radius: 100%;
    opacity: 90%;
    border: 1px solid rgba(0, 0, 0, 0.13);

}

picture#perfil > img:hover{
    width: 80px;
    min-width: 12%;
    transition: 0.3s;

}

div#container-left{
    position: absolute;
    background-color: #0531f2;
    width: 40%;
    height: 100%;
}

button#btn-Redes-Sociais{
    background-color: #c51944ad;
    border: 0px ;
    border-radius: 5px;
    min-width: 10%;
    max-width: 60%;
    width: 300px;
    height: 30px;
    margin-left: 25%;
}

button#btn-Redes-Sociais:active{
    background-color: #0531f2;
}


