@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {

    menu#opcoes{
        position: absolute;
        visibility: hidden;
        left: -30%;
        width: 50%;
        z-index: 1;
        
        
    }

    button.buttons-menu{
        font-size: 15px;
        height: 23px;
    }

    button#dayNight{
        
        width: 45px;
        height: 20px;
        left: 93%;
        top: 2%;
        border: 1px solid #8C2656;
        border-radius: 10px;
       
    }

    div#containerImgFundo{
        background-image: url(../imagens/jt-6a-1JcjtVbc-unsplash.jpg);
    }

    div#containerImgFundo img{
        position: relative;
        margin: auto;
        top: -30%;
        border-radius: 100%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.438);
        width: 80px;
    
      
    }
    
    div#containerImgFundo img:hover{
        width: 200px;
        transition: 0.2s;
    }

    div#textBemvindo{
        position: relative;
        color: white;
        font-size: 30px;
        width: 100%;
        margin: auto;
        padding-top: 18vh;
        text-align: center;
        
        
    }
    div#textEu{
        position: relative;
        color: white;
        font-size: 25px;
        padding-top: 1%;
        width: 100%;
        margin: auto;
        text-align: center;
        
    }
    div#textDev{
        position: relative;
        color: #8C2656;
        font-size: 18px;
        padding-top: 0%;
        width: 100%;
        margin: auto;
        text-align: center;
        
    }

    #cv, #contato{
        font-size: 2.5vw;
        border-radius: 8px;
        padding: 4px;
        
    }
    #cv{
        margin: 3% 0px 0px 70%;
        border: 1px solid #8C2656;
    }
    #contato{
        margin: 9% 0px 0px 79%;
        background-image: linear-gradient(to right, #F20544 0%,  #8C2656 100%);
        
    }

    a#project1 img{
        width: 40%;
    }
    a#project1{
        height: 40vh;
    }
    
}

@media screen and (min-width: 1025px)  {

    div#container-img-fundo{
       background-image: url(../imagens/juan-davila-P8PlK2nGwqA-unsplash.jpg);
    }

    
}

