@charset "UTF-8";

@media screen and (orientation: landscape) {
    
    menu#opcoes{
        position: absolute;
        visibility: hidden;
        left: -30%;
        width: 50%;
        z-index: 1;
       
    }

    

    button#dayNight{
        
        width: 35px;
        height: 20px;

        border: 1px solid #8C2656;
        border-radius: 10px;
       
    }

    div#containerImgFundo{
        background-image: url(../imagens/jt-6a-1JcjtVbc-unsplash.jpg);
        height: 290px;
    }

    div#secondImgFundo{
        height: 290px;
    }

    div#containerImgFundo img{
        position: relative;
        margin: auto;
        top: -30%;
        border-radius: 100%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.438);
        width: 80px;
    
      
    }
    
    div#containerImgFundo img:hover{
        width: 200px;
        transition: 0.2s;
    }

    div#profile{
        height: 230px;
        margin-top: -240px;
    }

    div#textBemvindo{
       
        font-size: 25px;
        width: 100%;  
        padding-top: 75px  
    }
    div#textEu{
        position: relative;
        color: white;
        font-size: 20px;
        padding-top: 1%;
        width: 100%;
        margin: auto;
        text-align: center;
        
    }
    div#textDev{
        position: relative;
        color: #8C2656;
        font-size: 15px;
        padding-top: 0%;
        width: 100%;
        margin: auto;
        text-align: center;
        
    }

    
    div#contact > ul > li > h1{
    
        font-size:20px;
        margin: -130px 0px 0px 12%;
        
    }
    
    #instagram{
        margin: -100px 0px 0px 13%
    }
    #facebook{
        margin: -100px 0px 0px 13%;
        transition: margin-top 1s;
    }
    #linkedin{
        margin: -100px 0px 0px 13%;
        transition: margin-top 800ms;
    }
    #github{
        margin: -100px 0px 0px 13%;
        transition: margin-top 700ms ;
    }
    #gmail{
        margin: -100px 0px 0px 13%;
        transition: margin-top 600ms;
    }
    .contactsIcons img{
        width: 70px;
    }

    #cv, #contato{
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    menu#opcoes{
        position: absolute;
        visibility: hidden;
        left: -30%;
        width: 50%;
        z-index: 1;
        
        
    }



    button#dayNight{
        
        width: 45px;
        height: 20px;
        border-radius: 10px;
       
    }

    div#containerImgFundo{
        height: 400px;
    }
    div#secondImgFundo{
        height: 400px;
    }
    div#profile{
        height: 360px;
        margin-top: -380px;
    }

    a#myPhoto img{
        width: 70px;
    }
    
    a#myPhoto img:hover{
        width: 80px;
        transition: 0.2s;
    }

    div#textBemvindo{
        font-size: 30px;
        padding-top: 105px;
        
        
    }
    div#textEu{
        font-size: 25px;
        padding-top: 1%;
        
    }
    div#textDev{
        font-size: 18px;
        padding-top: 0%;   
    }

    #cv, #contato{
        font-size: 20px;
    }

    div#contact > ul > li > h1{
    
        font-size:30px;
        margin: -200px 0px 0px 16%;
        
    }
    
    
    #instagram{
        margin: -160px 0px 0px 16%
    }
    #facebook{
        margin: -160px 0px 0px 16%;
        transition: margin-top 1s;
    }
    #linkedin{
        margin: -160px 0px 0px 16%;
        transition: margin-top 800ms;
    }
    #github{
        margin: -160px 0px 0px 16%;
        transition: margin-top 700ms ;
    }
    #gmail{
        margin: -160px 0px 0px 16%;
        transition: margin-top 600ms;
    }
    .contactsIcons img{
        width: 120px;
    }
    
    
   
}

@media screen and (min-width: 1025px)  {

    
    menu#opcoes{
        position: absolute;
        visibility: hidden;
        left: -30%;
        width: 50%;
        z-index: 1;
        
        
    }

    button.buttons-menu{
        font-size: 15px;
    }

    button#dayNight{
        
        width: 45px;
        height: 20px;
        border: 1px solid #8C2656;
        border-radius: 10px;
       
    }

    div#containerImgFundo{
        width: 75vw;
        height: 400px;
        background-size: 100% 150%;
    }
    div#secondImgFundo{
        width: 75vw;
        height: 400px;
        background-size: 100% 150%;
    }
    div#profile{
        height: 360px;
        margin-top: -380px;
        width: 70vw;
    }

    a#myPhoto img{
        width: 85px;
        
    }
    
    a#myPhoto img:hover{
        width: 90px;
        transition: 0.2s;
    }

    div#textBemvindo{
        font-size: 30px;
        padding-top: 120px;
    }
    div#textEu{
        font-size: 25px;
        padding-top: 0.5%;
    }
    div#textDev{
        font-size: 18px;
        padding-top: 0%;
        
    }

    #cv, #contato{
        font-size: 25px;
    }

    
    div#contact > ul > li > h1{
    
        font-size:30px;
        margin: -200px 0px 0px 16%;
        
    }
    
    #instagram{
        margin: -160px 0px 0px 16%
    }
    #facebook{
        margin: -160px 0px 0px 16%;
        transition: margin-top 1s;
    }
    #linkedin{
        margin: -160px 0px 0px 16%;
        transition: margin-top 800ms;
    }
    #github{
        margin: -160px 0px 0px 16%;
        transition: margin-top 700ms ;
    }
    #gmail{
        margin: -160px 0px 0px 16%;
        transition: margin-top 600ms;
    }
    .contactsIcons img{
        width: 120px;
    }
    
}

    


