@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #3f4957;
}

header{
    width: 100%;
    background-color: #011420;
    height: 33px;

}

nav{
    display: flex;
    color: white;
}

nav > h1{
    margin: 4px 0px 0px 35% ;
    font-size: 25px;
}
nav > button{
    border: none;
    background-color: #011420;
    width: 0px;
    cursor: pointer;
}

span#menuIcon{
    padding: 7px 5px 2px 5px;
    background-color: #011420;
    color: white;
    
    
}

header::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 2rem;
    height: 0.1rem;
    background-image: linear-gradient(to right,  #8C2656 0%, #F20544 92.32%);
}

menu#opcoes{
    position: absolute;
    visibility: hidden;
    left: -30%;
    width: 100%;
    z-index: 1;
    
}

menu#opcoes > ul{
    position: relative;
    width: 30%;
    background-color: #252b3391;
    border-radius: 0px 25px 0px 10px;
    
}

button.buttons-menu{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 20px;
    
}
button#btn-menu-top{
    border-radius: 0px 25px 0px 0px;
}
button.buttons-menu:hover{
    background-color: #2e313591; 
    height: 30px;
    transition: 300ms;
}


div#container-img-fundo{
    position: relative;
    background: black url(../imagens/clement-m-igX2deuD9lc-unsplash.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    box-shadow: inset 0px 6px 13px 0px rgba(0, 0, 0, 0.527);
    border-radius: 50px 25px 100px 20px;
    border-left: 4px solid #8C2656;
    border-right: 4px solid #F20544 ;
    margin: auto;
    width: 90%;
    opacity: 90%;
    height: 70vh;
}

div#container-img-fundo img{
    position: absolute;
    left: 50%;
    top: 15%;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.438);
    width: 70px;

    transform: translate(-50%, -50%);
}

div#container-img-fundo img:hover{
    width: 75px;
    transition: 0.2s;
}

div#profile{
    visibility: visible;
    opacity: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.466);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 94%;
    border-radius: 50px 25px 100px 20px;
    box-shadow: 1px 1px 10px 1px black;
    
}

div#textBemvindo{
    position: relative;
    color: white;
    font-size: 23px;
    width: 190px;
    margin: auto;
    padding-top: 45%;
    text-align: center;
    
    
}
div#textEu{
    position: relative;
    color: white;
    font-size: 17px;
    padding-top: 1%;
    width: 200px;
    margin: auto;
    text-align: center;
    
}
div#textDev{
    position: relative;
    color: rgba(0, 0, 0, 0.459);
    font-size: 13px;
    padding-top: 1%;
    width: 190px;
    margin: auto;
    text-align: center;
    
}

