@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
}
body{
    background-color: #282f38;
    height: 100%;
}
main{
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    background-color: #011420;
    height: 40px;
    z-index: 1;

}

nav{
    display: flex;
    color: white;
}

nav > h1{
    margin: 6px 0px 0px 50% ;
    font-size: 25px;

    transform: translate(-50%);
}
nav > button{
    border: none;
    background-color: #011420;
    width: 0px;
    cursor: pointer;
}

span#menuIcon{
    padding: 7px 5px 7px 5px;
    background-color: #011420;
    color: white;
    
    
}

header::after{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    top: 2.4rem;
    height: 0.1rem;
    background-image: linear-gradient(to right,  #8C2656 0%, #F20544 92.32%);
}

menu#opcoes{
    position: fixed;
    visibility: visible;
    left: -41%;
    width: 100%;
    z-index: 1;
    
}

menu#opcoes > ul{
    position: fixed;
    width: 120px;
    height: 100%;
    background-color: #0c0e11e7;
    
    
    
    
}

button.buttons-menu{
    background-color: transparent;
    position: fixed;
    color: white;
    border: none;
    cursor: pointer;  
    width: 120px;
    height: 30px;
    transition: height 500ms;
    font-size: 16px;
}
menu#opcoes > ul > li{
    width: 120px;
    height: 30px;
}
menu#opcoes > ul > li:hover
{
    background-color: #F20544;
}



button#dayNight{
    position: relative;
    width: 35px;
    height: 20px;
    margin: 10px 15px 0px auto;
    border: 1px solid #8C2656;
    border-radius: 10px;
   
}

#bollDayNight{
    position: absolute;
    background: black url(../imagens/dia-e-noite.png) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    margin: 0px;
    top: 6%;
    left: 1%;
    border-radius: 100%;
    
    
    
}

section{
    height: 100%;
}
main{
    filter: blur(0);
    transition: 1s;
    
}

div#containerImgFundo{
    display: block;
    position: relative;
    background: black url(../imagens/jt-6a-1JcjtVbc-unsplash.jpg) no-repeat bottom center fixed;
    background-size: 100% 110%;
    box-shadow: inset 0px 6px 13px 0px rgba(0, 0, 0, 0.527);
    border-radius: 50px 25px 100px 20px;
    border-left: 4px solid #8C2656;
    border-right: 4px solid #F20544 ;
    margin: auto;
    width: 90%;
    opacity: 90%;
    height: 360px;
}
div#secondImgFundo{
    display: none;
    position: relative;
    background: black url(../imagens/clement-m-igX2deuD9lc-unsplash.jpg) no-repeat bottom center fixed;
    background-size: 100% 150%;
    box-shadow: inset 0px 6px 13px 0px rgba(0, 0, 0, 0.527);
    border-radius: 50px 25px 100px 20px;
    border-left: 4px solid #8C2656;
    border-right: 4px solid #F20544 ;
    margin: auto;
    width: 90%;
    opacity: 90%;
    height: 360px;
}

a#myPhoto img{
    position: absolute;
    left: 50%;
    top: 90px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.438);
    width: 65px;
    transition: width 0.2s;

    transform: translate(-50%, -50%);
}

a#myPhoto img:hover{
    width: 75px;
}

div#profile{
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.466);
    margin: auto;
    margin-top: -310px;
    width: 80vw;
    height: 300px;
    border-radius: 50px 25px 100px 20px;
    box-shadow: 1px 1px 10px 1px black;

    
    
}

div#textBemvindo{
    position: relative;
    color: white;
    font-size: 23px;
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    
    
}
div#textEu{
    position: relative;
    color: white;
    font-size: 16px;
    padding-top: 1%;
    width: 100%;
    margin: auto;
    text-align: center;
    
}
div#textDev{
    position: relative;
    color: #8C2656;
    font-size: 13px;
    padding-top: 1%;
    width: 100%;
    margin: auto;
    text-align: center;
    
}
#Container-CvAndContact{
    text-align: right;
    width: 90%;
}
#Container-CvAndContact > ul > li{
    list-style: none;
    margin-top: 12px;
}

#cv, #contato{
    position: relative;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    padding: 4px;
    
}
#cv{
    
    border: 1px solid #8C2656;
}
#contato{
    
    background-image: linear-gradient(to right, #F20544 0%,  #8C2656 100%);
    
}

#contact > ul{
    list-style: none;
}

div#contact{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
}

div#contact > ul > li > h1{
    position: absolute;
    font-size:20px;
    color: white;
    z-index: 1;
    margin: -125px 0px 0px 14%;
    
}

#instagram, #facebook, #linkedin, #github, #gmail{
    position: absolute;
}

#instagram{
    margin: -100px 0px 0px 15%
}
#facebook{
    margin: -100px 0px 0px 15%;
    transition: margin-top 1s;
}
#linkedin{
    margin: -100px 0px 0px 15%;
    transition: margin-top 800ms;
}
#github{
    margin: -100px 0px 0px 15%;
    transition: margin-top 700ms ;
}
#gmail{
    margin: -100px 0px 0px 15%;
    transition: margin-top 600ms;
}
.contactsIcons img{
    width: 70px;
    

}

div#Projects{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 80px 0px 0px 0px;
    left: 50%;
    border: 2px solid #1d22297e;

    transform: translate(-50%);
}
div#Projects > h1{
    color: white;
    padding: 10px;
    font-size: 24px;
    
}
a.Projects{
    display: block;
    position: relative;
    border: 1px solid #f205442a ;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: 200px;
    margin-bottom: 30px;
     

    transition: 500ms;
}

a.Projects:hover {
    border: 1px solid #F20544;
    
 
}

#Buttons-Projects{
    width: 100%;
    text-align: center;
}

.ChangeProject-btn{
   background-color: transparent;
   border: 0px;
   width: 40px;
}
.ChangeProject-btn:hover{
    background-color: #2e3134;
}

#Project1{
    display: block;
    background: black url("../imagens/projeto1.png") no-repeat ;
    background-position: center top;
    background-size: cover;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.958);
    opacity: 1;
    

}

.Names-Project{
    font-size: 22px;
    padding: 10px;
   
}

#Project2{
    display: none;
    background: black url("../imagens/Projeto2.png") no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgba(0, 0, 0, 0.958);
    text-decoration: none;
    opacity: 0;
    
   
}

#Project1.visible, #Project2.visible{
    display: block;
    opacity: 1;
}
#Project1.novisible, #Project2.novisible{
    display: none;
    opacity: 0;
}

footer{
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 59px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.377);
    background-color: #011420; 
    
}









